body{
  margin: 0;
  padding: 0;

  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 80vh;
}
.middlenum{
position: absolute;
top: 20%;
left: 5%;
width: 40%;
color: white;
}
.middlenum h1{
  font-size: 60px;
}
.middlenum p{
  font-size: 20px;
  line-height: 1.8;
}
.forum h1{
  font-size: 60px;
  padding-bottom: 3%;

}
.forum{
  position: absolute;
  top: 20%;
  right: 5%;
  width: 40%;
  color: white;
  align-items: center;
  text-align: center;
}
input{
  background-color: rgba(0,0,0,0.1);
  color: white;
/* height: 10%; */
padding: 1% 2%;
width: 80%;

}

#googlemaps{
text-align: center;
padding-top:80vh;
padding-bottom: 2%;

}
 iframe{
   padding: 1%;
 }

 .mobile{
   display: none;
 }
 @media screen and (max-width:900px) {
   .web {
     display: none;
   }

   .mobile {
     display: block;
     text-align: center;
   }

   /* nav */
   .mobilenav {

     text-align: center;
     -webkit-animation-duration: 0.4s;
     -webkit-animation-delay: 0.4s;
     -webkit-animation-iteration-count: 1;
     /* float: right; */
   }

   .mobilenav img {
     height: 10vh;
     padding: 1% 2%;
   }

   .mobilenav ul {
     padding-top: 1%;
   }

   .mobilenav ul a {
     text-decoration: none;
     color: white;
   }

   .mobilenav li {
     padding: 2%;
     float: left;
     list-style: none;
     color: white;
   }

   .mobilenav a {
     color: white;
   }
   .center{
     text-align: center;
   }
   /* nav */
   .mobile{
     color: white;

   }
.middlecontentmob{
padding: 18% 6% 0 6%;

}

 }
