@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700');

body
{

  align-items: center;
  margin: 0;
  padding: 0;
  height: 80vh;
  background-image: url("../images/background.jpg-1.png");
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  background-size: auto 80vh;
  font-family: 'Poppins', sans-serif;

}
html, body {
     position: relative;
   }
   body {
     background: #fff;
     font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
     font-size: 14px;
     color:#000;
     margin: 0;
     padding: 0;
   }
   .swiper-container {
     width: 500px;
     height: 500px;

     /* position: absolute; */

   }
   .swiper-slide {
     background-position: center;
     background-size: cover;
   }



   .myButton {
	background-color:#a73f2d;
	border:1px solid #241d13;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 23px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#b34332;
}
.myButton:active {
	position:relative;
	top:1px;
}
.mobile{
  display: none;
}
@media screen and (max-width:900px) {
  .web {
    display: none;
  }

  .mobile {
    display: block;
    text-align: center;
  }

  /* nav */
  .mobilenav {

    text-align: center;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-delay: 0.4s;
    -webkit-animation-iteration-count: 1;
    /* float: right; */
  }

  .mobilenav img {
    height: 10vh;
    padding: 1% 2%;
  }

  .mobilenav ul {
    padding-top: 1%;
  }

  .mobilenav ul a {
    text-decoration: none;
    color: white;
  }

  .mobilenav li {
    padding: 2%;
    float: left;
    list-style: none;
    color: white;
  }

  .mobilenav a {
    color: white;
  }
  /* nav */
  .swiper-container {
    width: 350px;
    height: 350px;
  }
  .middlemob{
    padding-top: 10vh;
  }
  .middlemob h3{
    padding-bottom: 4%;
    color: white;
    font-size: 40px;
  }


}
