body {
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;

  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 80vh;

}

/* #front {
  padding-top: 30vh;
  font-family: 'Poppins', black;

  -webkit-animation-duration: 10s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: 1;
} */

.none {
  display: none;
}
#front {
position: absolute;
left: 47%;
top: 40%;
width: 50%;
align-items: center;

}
.rotate img{
  -webkit-animation: spin 1s linear infinite;
   animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#front li {
  padding: 0 0 4% 0;
  line-height: 1;
  text-align: center;
  /* text-decoration:none; */
  list-style-type: none;
  font-size: 80px;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 2s;
  -webkit-animation-iteration-count: 1;
}

#front ul {
  text-decoration: none;
}

#front img {
  width: 20%;
}

.containerblack {
  background-color: black;
  color: white;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: 1;
  height: 100vh;
}

.hide {
  opacity: 0;
}


#middle {
  color: white;
  /* float: right; */
  width: 100%;
}

.para {
  position: absolute;
  width: 30%;
  /* padding-left: 4%;
  padding-top: 10%; */
  left: 10%;
  top:30%;

}
.right img{
  position: absolute;
  width: 30%;
  right: 10%;
  top: 30%;
}
#image1{
  position: absolute;
  top: 30%;
  right: 10%;
  float:right;
}
#heading{
  font-size:50px;
  font-weight: 400;
}
#content{
  font-size: 20px;
  padding-top: 1%;
}
.mobile{
  display: none;
}



@media screen and (max-width:900px) {
.web{
  display: none;

}

.none {
  display: none;
}
.mobile{
  display: block;
  text-align: center;
}
#loadmob{
  width: 30%;
}
#contentmob{
  color: white;
  padding-top: 10vh;
}
.rightmob img{
  height: 40vh;
  padding-bottom: 7%;
}
.mobilenav{
  text-align: center;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-delay: 0.4s;
  -webkit-animation-iteration-count: 1;
  /* float: right; */
}
.mobilenav img{
height: 10vh;
padding: 1% 2%;
}

.mobilenav ul{
  padding-top: 1%;
}
.mobilenav ul a{
  text-decoration: none;
  color: white;
}
.mobilenav li{
  padding: 2%;
  float: left;
  list-style: none;
  color: white;
}
.mobilenav a{
  color: white;
}
.paramob{
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: 1;
}
.righmob{
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: 1;
}

.footercontent{
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  color: white;

}
#mainmob{
  padding: 0 5%;
}
#load{
  padding-top: 45vh;
}


}
