body {
  /*background-image: linear-gradient(#defcfc, #cbf1f5,#a6e3e9);*/
  background-image: url(Layer1.png);
  background-repeat: no-repeat;
  margin: 0;
}

.image_top {
  display: block;
  top: 20px;
  text-align: center;
  width: 100%;
}

hr {
  border-style: dotted none none;
  border-color: white;
  border-width: 5px;
  width: 20%;
}

h2 {
  font-style: normal;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 25px;
  text-align: center;
  margin-bottom: 0.1px;
  margin-top: 5px;
  color: white;
}

p {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: white;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.front {
  width: 80%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 15px 15px 15px 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.image_top {
  background-size: cover;
  background-attachment: fixed;
}

.nav {
  text-align: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 60px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 10px;
  border-radius: 10px;
}

.navbar {
  position: relative;
  left: 25.2%;
}

.nav:hover {
  background: rgba(0, 0, 0, 0.5);
}

ul li {
  float: left;
  width: 150px;
  height: 30px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  margin-left: 2px;
}

ul li a {
  text-decoration: none;
  color: white;
  display: block;
  font-weight: 200;
  font-size: 20px;
}

ul li ul li {
  display: none;
}

ul li:hover ul li {
  display: block;
}

.Contact {
  height: 200px;
  background-color: rgba(62, 41, 212, 0.6);
  width: 100%;
}

.contacto {
  margin: 0 auto;
  color: white;
  text-align: left;
  font-weight: lighter;
  font-size: 9px;
}
